*,
*::after,
*::before{
    box-sizing: inherit;
}

/*Global styles*/

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    box-sizing: inherit;
    font-family: "Open Sans", "Arial","san-serif";
    font-weight: 700;
}

main{
    padding-top: 80px;
}


h1, h2, h3{
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

h2{
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
    text-align: center;
}

h3{
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

a{
    text-decoration: none;
}

/*Sitenav*/

.logo {
    display: block;
}

.logo:active{
    opacity: 0.4;
}

.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.bnt{
    background-color: #00BAFC;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.bnt:hover{
    background: rgba(0, 186, 252, 0.8);
}

.bnt:active{
    background: rgba(0, 186, 252, 0.6);
}

.main-text{
    text-align: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 99;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.navbar-container{
    display: flex;
    align-items: center;
}


.list{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.list-item{
    position: relative;
    z-index: 1;
}

.list-item:hover .dropdawn-menu{
    display: block;
}

.bnt-link:hover {
    color: #00bafc;
    background-color: #fff;
    border: 3px solid #00bafc;
}

.bnt-link:active {
    opacity: 0.6;
    background-color: #00bafc;
    color: #fff;
}

.item-link{
    display: inline-block;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    padding: 16px;
}

.item-link:hover{
    padding: 16px 16px 13px 16px;
    border-bottom: 3px solid black;
}

.item-link:active {
    color: #fff;
    background-color: rgba(25, 25, 25, 0.7);
}

.dropdawn-menu{
    display: none;
    position: absolute;
    list-style-type: none;
    z-index: 5;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.dropdawn-menu .dropdawn-link{
    display: block;
    padding: 8px 16px;
    color: #191919;
    white-space: nowrap;
}

.dropdawn-menu .dropdawn-link:hover{
    background-color: #00bafc;
    color: #fff;
}

.dropdawn-menu .dropdawn-link:active{
    opacity: 0.6;
}

.bnt-link {
    color: white;
    background-color: #00bafc;
    border-radius: 5px;
    padding: 5px 13px;
    line-height: 24px;
    border: 3px solid #00bafc;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*Buisnes section*/

.buissnes{
    margin-bottom: 80px;
}

.buissnes-container{
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
}

.buissnes-way{
    width: 470px;
    margin: auto 0;
    margin-right: 20px;
}

.title-text{
    margin-right:2.5px;
    margin-left: 2.5px;
}

.youtube-video{
    width: 458px;
    min-height: 258px;
    border-radius: 5px;
}

/*Services section*/

.services-container{
    padding-top: 56px;
    padding-bottom: 56px;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services-list-item{
    width: 320px;
    margin-right: 70px;
    margin-bottom: 40px;
    margin-top: 24px;
    text-align: center;
}

.services-list-item:nth-child(3n){
    margin-right: 0;
}

.services-list-item:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-list-item:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.services-link{
    display: block;
    border-radius: 5px;  
    overflow: hidden;
    padding: 24px;
    color: #191919;
    background-color: #fff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.services-link::before{
    content: "";
    display: block;
    height: 130px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.services-website .services-link::before{
    background-image: url(../imges/veb.png);
}

.services-telegram .services-link::before{
    background-image: url(../imges/telegram-bot.png);
}

.services-smm .services-link::before{
    background-image: url(../imges/smm.png);
}

.services-grafik .services-link::before{
    background-image: url(../imges/grafik.png);
}

.services-crm .services-link::before{
    background-image: url(../imges/crm.png);
}


.services-title{
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.3;
}

.services-text{
    margin: 0;
}

.buttons{
    text-align: center;
}

.service-link{
    color: #00BAFC;
    text-decoration: underline;
}

.services-bnt, .service-link{
    margin-right: 8px;
    margin-left: 8px;
}

/*our-work section*/

.our-work-list{
    width: 832px;
    margin: 8px auto 40px;
    padding: 0;
    list-style: none;
}

.offers-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers-item:not(:last-child){
    margin-bottom: 48px;
}

.offers-item:nth-child(even){
    flex-direction: row-reverse;
}

.offers-item::before{
    content: "";
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.offer-requirements::before{
    height: 278px;
    background-image: url(../imges/talablar.png);
}

.offer-get-offers::before{
    height: 225px;
    background-image: url(../imges/yechim.png);
}

.offer-time::before{
    height: 258px;
    background-image: url(../imges/vaqt.png);
}

.offer-quality::before{
    height: 171px;
    background-image: url(../imges/sifat.png);
}

.offer-support::before{
    height: 232px;
    background-image: url(../imges/support.png);
}

.offers-details{
    width: 490px;
}

.work-title{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.5;
}

.work-text{
    margin: 0;
}

.our-work-footer{
    display: flex;
    justify-content: center;
}

/*Check out section*/

.checkout{
    background-color: #00BAFC;
    color: #fff;
}

.checkout-container{
    padding-top: 56px;
    padding-bottom: 64px;
}

.form-out{
    margin: 0 auto;
    padding: 24px;
    width: 348px;
    background-color: #fff;
    border-radius: 5px;
}

.form-out{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-out, select{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: none;
}

.select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-16.png") #F3F3F3 no-repeat 98.5% !important ; /* !important used for overriding all other customisations */
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-16.png") #F3F3F3 no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}

/*Sticky footer*/

.sticky{
    flex-grow: 1;
}

/* Footer */

.site-footer{
    background-color: #191919;
    color: #fff;
    padding-top: 56px;
    padding-bottom: 56px;
}

.site-footer-container{
    display: flex;
}

.site-footer-info{
    width: 320px;
    margin-right: 100px;
}

.site-footer-heading{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.site-info{
    width: 145px;
    margin-right: 85px;
}

.site-footer-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-item:not(:last-child){
    margin-bottom: 8px;
}

.footer-link{
    display: inline-flex;
    color: #fff;
    font-weight: 400;
}

.footer-link:hover{
    color: #00BAFC;
}

.footer-link:active{
    opacity: 0.6;
}

.footer-icon::before{
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.telegram::before{
    background-image: url(../imges/telegram.svg);
}
.facebook::before{
    background-image: url(../imges/facebook.svg);
}
.Instagram::before{
    background-image: url(../imges/instagram.svg);
}